tags
*.log
*~
*.pyc
*.csv
*.class
doc/core/html
VERSION
*.lo
*.o
.libs/
.deps/
stamp-*
.dirstamp
*.loT
Makefile
*.la
autom4te.cache
libtool
*.tar.gz
config.status
include/config.h
test/test-*
java/*.jar
*.stamp
java/com_aio4c_*.h
doc/Doxyfile
doc/html
doc/javadoc
